DB_HOST=localhost
DB_PORT=5432
DB_NAME=music_samples
DB_USER=postgres
DB_PASSWORD=postgres
DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/music_samples
ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD= 
JWT_SECRET=
JWT_EXPIRES_IN=